__pycache__/
*.py[cod]
*.so
.Python
env/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
pip-log.txt
pip-delete-this-directory.txt
.tox/
.cache
nosetests.xml
coverage.xml
*.mo
.project
.pydevproject
*.log
*.pot
docs/_build/
.idea
*.iml